
.chat-popup {
  width: 300px;
  position: fixed;
  bottom: 0px;
  right: 20px;
  border: 1px solid #000;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: white;
}

.fb-search {
  width: 395px !important;
}

.fb-trending {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
}

.fb-trending ul.nav a {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.fb-trending > .row:first-child {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fb-trending .media {
  margin-top: 5px;
}

.fb-trending-title {
  line-height: 24px;
}

.green {
  color: green;
}

.fb-status-update-entry textarea {
resize: none;
/* Needs to be !important, since Bootstrap sets this elsewhere. */
box-shadow: none !important;
border: none;
}
.fb-status-update-entry .media {
border-top: 1px solid lightgrey;
border-bottom: 1px solid lightgrey;
margin-bottom: 10px;
padding-top: 5px;
}

.fb-status-update hr {
margin-top: 5px;
margin-bottom: 5px;
border-top: 1px solid lightgray;
}

.fb-status-update .list-inline { margin-bottom: 0px;
}
.fb-status-update .panel-body { padding-bottom: 5px;
}

body {
  padding-top: 60px;
}
